@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="status" name="报名状态（1正在报名2报名成功3报名失败）" value="${item.status}" underline="true"/>
                            <#input id="sysUserId" name="报名者id" value="${item.sysUserId}" />
                </div>

                <div class="col-sm-6">
                            <#input id="partTimeId" name="兼职信息id" value="${item.partTimeId}" underline="true"/>
                            <#input id="gmtCreate" name="创建时间" value="${item.gmtCreate}" underline="true"/>
                            <#input id="gmtModified" name="修改时间" value="${item.gmtModified}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="EnrollInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="EnrollInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/spark/enroll/enroll_info.js"></script>
<script>
    laydate.render({
        elem: '#gmtCreate'
    });
    laydate.render({
        elem: '#gmtModified'
    });
</script>
@}
