<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.spark.dao.StudentUserDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.spark.model.StudentUserDetail">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="student_password" property="studentPassword" />
        <result column="name" property="name" />
        <result column="avatar" property="avatar" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="enrollment_date" property="enrollmentDate" />
        <result column="student_class_id" property="studentClassId" />
        <result column="sys_user_id" property="sysUserId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, student_password, name, avatar, phone, email, enrollment_date, student_class_id, sys_user_id, gmt_create, gmt_modified
    </sql>

</mapper>
